	* {
	margin: 0px;
	padding: 0px;
}
body{
	
}
#top {
	
	width: 100%;
	height: 120px;
	background-color: brown;
}
#top-square{
	width: 100px;
	height: 80px;
	border-top: 40px solid brown;
	border-right: 10px solid brown;
	background-color: black;
	
	top: 20px;
}
#profile{
	position: relative;
	left: 50%;
	top:-85%;
	width: 80px;
	height: 80px;
	background: white;
	color: black;
	font: 15px verdana, arial, sans-serif;
	line-height: 80px;
	text-align: center;
	border-radius: 50%;

}


#tab {
	width: 100%;
	height: 80px;
	background-color: black;
}

#menu {
	width:755px;
	height: 50px;
	
	font: 15px verdana, arial, sans-serif;
	/* 设置文字大小和字体样式 */
	position: relative;
	left: 25%;
	top:20%;
	
}

#menu,
#menu li {
	list-style: none;
	/* 将默认的列表符号去掉 */
	padding: 0;
	/* 将默认的内边距去掉 */
	margin: 0;
	/* 将默认的外边距去掉 */
}

#menu li {
	float: left;
	/* 往左浮动 */
}

#menu li a {
	display: block;
	width: 150PX;
	height: 30px;
	/* 将链接设为块级元素 */
	padding:10px 30px;
	/* 设置内边距 */
	background: red;
	
	/* 设置背景色 */
	color: #fff;
	/* 设置文字颜色 */
	text-decoration: none;
	/* 去掉下划线 */
	border-right: 2px solid white;
	/* 在左侧加上分隔线 */
}

#menu li a {
	display: block;
	/* 将链接设为块级元素 */
	width:80px;
	/* 设置宽度 */
	height: 30px;
	/* 设置高度 */
	line-height: 30px;
	/* 设置行高，将行高和高度设置同一个值，可以让单行文本垂直居中 */
	text-align: center;
	/* 居中对齐文字 */
	background: transparent;
	/* 设置背景色 */
	color: #fff;
	/* 设置文字颜色 */
	text-decoration: none;
	/* 去掉下划线 */
	border-right: 1px solid white;
	/* 在左侧加上分隔线 */
}
#menu li a:hover {
background:#146C9C; /* 变换背景色 */
color:#fff; /* 变换文字颜色 */
}
.classA {
	background-color: #CCCCCC;
}

.swiper-container {
	width: auto;
	height: 250px;
	background-color: brown;
	border: 1px solid white;
}

.swiper-slide {
	width: 100%;
	height: 100px;
	color: white;
	font-size: 30px;
	text-align: center;
	line-height: 250px;
}

.img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid white;
	}
	
.diary{
	width: 100%;
	height: 250px;
	background-color: black;
	
}
.diary div{
	float: left;
}
.pic{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 7%;
	background-color: darkred;
	top:10%;
	left: 10%;
}
.content{
	position: relative;
	width: 50%;
	height: 200px;
	
	background-color: white;
	top:10%;
	left: 20%;
	
}
